body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #0F172A;
color: white;
text-align: center;
}

h1 {
color: #D4AF37;
margin-top: 100px;
font-size: 60px;
}

h2 {
font-size: 30px;
}

p {
max-width: 700px;
margin: 20px auto;
font-size: 18px;
}

button {
background-color: #D4AF37;
color: #0F172A;
border: none;
padding: 15px 30px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
}
div {
background: white;
color: #0F172A;
width: 250px;
margin: 20px auto;
padding: 20px;
border-radius: 15px;
box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

div h2 {
color: #D4AF37;
margin-bottom: 10px;
}

div p {
font-size: 28px;
font-weight: bold;
  }
